.header {
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 100%;
  /*height is 10vh coz .nav__list-item*/
  height: 10vh;
  position: sticky;
  z-index: 2;
  top: 0;
}
.header__h3 {
  margin: 0;
  color: #147efb;
}
.nav {
  width: 100%;
  height: auto;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  width: fit-content;
  display: flex;
}
.nav__list-item {
  width: 8rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__a {
  font-weight: 600;
  color: black;
  transition: all 0.2s;
}
.nav__a:hover {
  color: #147efb;
}
