/* reset browser's default style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  font-family: 'Wix Madefor Display', sans-serif;
}
body {
  font-size: 1.6rem;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
p {
  color: #767676;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}
.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
.github-icon {
  background-image: url(/images/github-logo.svg);
  background-size: cover;
}
.live-demo-icon {
  background-image: url(/images/arrow-up-right-from-square-solid.svg);
  background-size: cover;
}
