.about {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__content {
  max-width: 100rem;
  display: flex;
}
.about__content--left-side {
  margin-right: 6rem;
}
.about__img-container {
  height: 35rem;
  width: 41rem;
  position: relative;
}
.img-container__main-img {
  height: 100%;
  width: 100%;
  border-radius: 1.7rem;
}
.img-container__circle {
  height: 19rem;
  width: 19rem;
  position: absolute;
  right: -3rem;
  bottom: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}
.img-container__badge-img {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: rotate 9s linear infinite;
}
.img-container__emoji {
  height: 8rem;
  width: 8rem;
  position: absolute;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.about__content--right-side {
  width: 48rem;
}
.about__h3 {
  color: #147efb;
}
.about__p {
  color: #767676;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}
.strong {
  font-weight: 600;
  color: #147efb;
  text-decoration: underline;
}
